<!doctype html>
<html lang="en">

<head>
  <meta charset='utf-8' />
  <meta http-equiv='content-type' content='text/html; charset=utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>

<title>Taiga Demo</title>

{{ css_resources|indent(4)|safe }}

</head>

<body ng-app="TaigaApp">
  <div ng-controller="MainCtrl" style="width: 100%; height: 100%" layout="column" layout-align="start center">
    <form name="someForm" style="width: 100%; margin-top: 70px" layout="row" layout-align="center center" ng-submit="updatePage()" novalidate>
      <md-input-container>
        <label>Coupon Rate</label>
        <input type="text" ng-model="options.coupon_rate" ui-percentage-mask required>
      </md-input-container>
      <md-input-container>
        <label>Number of Years</label>
        <input type="number" ng-model="options.num_years" required>
      </md-input-container>
      <md-input-container>
        <label>Acceptance Rate</label>
        <input type="text" ng-model="options.acceptance_rate" ui-percentage-mask required>
      </md-input-container>
      <md-input-container>
        <label>Acceptance Period</label>
        <input type="number" ng-model="options.acceptance_period" required>
      </md-input-container>
      <md-input-container>
        <label>Coupon Baseline</label>
        <input type="text" ng-model="options.baseline" ui-percentage-mask required>
      </md-input-container>
      <md-button type="submit" ng-disabled="someForm.$invalid" style="margin-top: -20px">Update</md-button>
    </form>
    <div style="width: 100%; padding: 50px; margin-top: 0px" layout="row" layout-align="space-around center">
      <h1>Base Case: {a revenues.base | currency a}</h1>
      <h1 layout="row" layout-align="center center">
        Prediction Case: {a revenues.pred | currency a}
        <md-icon md-svg-icon="arrow-up" ng-if="percent_change > 0" style="color: green; margin-left: 15px"></md-icon>
        <md-icon md-svg-icon="arrow-down" ng-if="percent_change < 0" style="color: red"></md-icon>
        {a percent_change | number:2 a}%
      </h1>
    </div>
    <div style="width: 80%;">
      {{ plot_div|indent(4)|safe }}
    </div>
  </div>

  {{ js_resources|indent(4)|safe }} {{ plot_script|indent(4)|safe }}

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="/static/js/libraries/angular-input.min.js"></script>

  <!-- Your application bootstrap  -->
  <script type="text/javascript">
    angular.module('TaigaApp', ['ngMaterial', 'ui.utils.masks'])
      .config(['$interpolateProvider', function($interpolateProvider) {
        $interpolateProvider.startSymbol('{a');
        $interpolateProvider.endSymbol('a}');
      }])
      .config(function($mdIconProvider) {
        $mdIconProvider
          .defaultIconSet('/static/fonts/mdi.svg')
      })
      .controller('MainCtrl', function($scope) {
        $scope.options = {{options | safe}}
        $scope.revenues = {{revenues | safe}}

        $scope.percent_change = ((($scope.revenues.pred / $scope.revenues.base) - 1) * 100) / $scope.options.num_years
        $scope.updatePage = function(){
          window.location = "/?coupon_rate=" + $scope.options.coupon_rate + "&acceptance_period=" + $scope.options.acceptance_period + "&num_years=" + $scope.options.num_years + "&acceptance_rate=" + $scope.options.acceptance_rate + "&baseline=" + $scope.options.baseline
        }
      })
  </script>
</body>

</html>
